<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as |al expandFn|}}
    {{#accordion-list-item
      title=(t "clusterNew.huaweicce.access.title")
      detail=(t "clusterNew.huaweicce.access.detail")
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=true
    }}
      {{#if (eq step 1)}}
        {{form-auth-cloud-credential
          cloudCredentials=cloudCredentials
          driverName=cloudCredentialDriverName
          parseAndCollectErrors=(action "errorHandler")
          finishAndSelectCloudCredential=(action "finishAndSelectCloudCredential")
          primaryResource=primaryResource
          region=config.regionID
          hideSave=true
        }}
      {{else}}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "formAuthCloudCredential.label"}}
            </label>
            <div>
              {{selectedCloudCredential.displayName}}
            </div>
          </div>
          <div class="col span-6">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.region.label"}}
            </label>
            <div>
              {{selectedCloudCredential.regionName}}
            </div>
          </div>
        </div>
      {{/if}}
    {{/accordion-list-item}}
    {{#if (eq step 1)}}
      {{#if (not nodePoolActive)}}
        {{banner-message
          color="bg-error mb-0 mt-10"
          message=(t "clusterNew.huaweicce.access.nodePoolUpdateError")
        }}
      {{/if}}
      {{save-cancel
        editing=(eq mode "edit")
        save=(action "huaweiLogin")
        cancel=close
        createLabel="clusterNew.huaweicce.access.next"
        savingLabel="clusterNew.huaweicce.access.loading"
      }}

        {{!-- saveDisabled=(or (not primaryResource.cloudCredentialId) (not nodePoolActive) (and (not isNew) (not isActive))) --}}


    {{/if}}
    {{#if (and isNew isImportProvider)}}
      {{#if (eq step 1.5)}}
        {{#accordion-list-item
          title=(t "clusterNew.huaweicce.clusterSelect.title")
          detail=(t "clusterNew.huaweicce.clusterSelect.detail")
          showExpand=false
          expandOnInit=true
          expandAll=al.expandAll
          expand=(action expandFn)
        }}
          <div class="row">
            <div class="col span-6">
              <label class="acc-label">
                {{t "clusterNew.huaweicce.clusterSelect.importCluster"}}
              </label>
              {{#input-or-display
                editable=(and isNew (eq step 1.5))
                value=showImportCluster
              }}
                {{new-select
                  class="form-control"
                  content=clusterChoices
                  value=config.clusterId
                  disabled=(not (and clusterChoices clusterChoices.length))
                  placeholder=(t "clusterNew.huaweicce.clusterSelect.placeholder")
                }}
              {{/input-or-display}}
            </div>
          </div>
        {{/accordion-list-item }}
        {{save-cancel
          editing=(eq mode "edit")
          save=(action "registerCluster")
          cancel=close
        }}
      {{/if}}
    {{/if}}
    {{#if (or (eq step 2) (eq step 3))}}
      {{#accordion-list-item 
        title=(t "clusterNew.huaweicce.clusterOption.title")
        detail=(t "clusterNew.huaweicce.clusterOption.detail")
        expandOnInit=true
        expandAll=al.expandAll
        expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.version.label"}}{{field-required}}
            </label>
            {{#input-or-display
              editable=(and (eq step 2) (not editing))
              value=config.version
            }}
              {{searchable-select 
                class="form-control"
                content=versionChoices
                value=config.version
                allowCustom=true
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label class="acc-label">{{t "clusterNew.huaweicce.managementScale.label"}}</label>
            {{#input-or-display
              editable=(and (eq step 2) (not editing))
              value=managementScaleShowValue
            }}
              {{new-select 
                classNames="form-control"
                value=managementScale
                content=managementScaleFormatOptions
              }}
            {{/input-or-display}}
          </div>
        </div>
        {{#if kubernetesVersionNotRecommend}}
          {{#banner-message color="bg-warning"}}
            <p>
              {{t "clusterNew.huaweicce.version.warningNotRecommend" version=config.version}}
            </p>
          {{/banner-message}}
        {{/if}}
        {{#if kubernetesVersionDisabeldRancher}}
          {{#banner-message color="bg-warning"}}
            <p>
              {{t "clusterNew.huaweicce.version.warningRacher" version=config.version}}
              <a href="https://www.suse.com/suse-rancher/support-matrix/all-supported-versions/rancher-v2-6-7/" target="_blank">{{t "clusterNew.huaweicce.version.warningRancherTip"}}</a>
            </p>
          {{/banner-message}}
        {{/if}}
        <div class="row">
          <div class="col span-6 mb-0">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.highAvailability.label"}}{{field-required}}
            </label>
            {{#if (or editing (not (eq step 2)))}}
              {{#if (eq highAvailabilityEnabled "s2")}}
                <div>{{t "generic.enabled"}}</div>
              {{else}}
                <div>{{t "generic.disabled"}}</div>
              {{/if}}
            {{else}}
              <div class="radio">
                <label>
                  {{radio-button selection=highAvailabilityEnabled value="s2"}}
                  {{t "generic.enabled"}}
                </label>
              </div>
              <div class="radio">
                <label>
                  {{radio-button selection=highAvailabilityEnabled value="s1" disabled=(gt managementScaleNum 200)}}
                  {{t "generic.disabled"}}
                </label>
              </div>
            {{/if}}
          </div>
          <div class="col span-6 mb-0">
            <label class="acc-label">{{t "clusterNew.huaweicce.containerNetworkMode.label"}}</label>
            {{#input-or-display
              editable=(and (eq step 2) (not editing))
              value=containerNetworkModeShowValue
            }}
              {{new-select 
                classNames="form-control"
                value=config.containerNetworkMode
                content=containerNetworkModeChoices
                localizedLabel=true
              }}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.containerNetworkCidr.label"}}{{field-required}}
            </label>
            {{#input-or-display
              editable=(and (eq step 2) (not editing))
              value=config.containerNetworkCidr
            }}
              {{input type="text"
                value=config.containerNetworkCidr
                classNames="form-control"
                placeholder=(t "clusterNew.huaweicce.kubernetesSvcIPRange.placeholder")
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.kubernetesSvcIPRange.label"}}{{field-required}}
            </label>
            {{#input-or-display
              editable=(and (eq step 2) (not editing))
              value=config.kubernetesSvcIPRange
            }}
              {{input type="text"
                value=config.kubernetesSvcIPRange
                classNames="form-control"
                placeholder=(t "clusterNew.huaweicce.kubernetesSvcIPRange.placeholder")
              }}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label class="acc-label">{{t "clusterNew.huaweicce.vpcId.label"}}</label>
            {{#input-or-display
              editable=(and (eq step 2) (not editing))
              value=vpcShowValue
            }}
              {{new-select 
                classNames="form-control"
                content=vpcChoices
                value=config.vpcId
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.subnetId.label"}}
            </label>
            {{#input-or-display
              editable=(and (eq step 2) (not editing))
              value=subnetShowValue
            }}
              {{new-select 
                classNames="form-control"
                content=subnetChoices
                value=config.subnetId
              }}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.securityGroup.label"}}
            </label>
            {{#input-or-display
              editable=(eq step 2)
              value=securityGroupShowValue
            }}
              {{searchable-select
                class="form-control"
                content=securityGroupChoices
                value=config.securityGroup
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label class="acc-label">
              {{t "clusterNew.huaweicce.description.label"}}
            </label>
            {{#input-or-display
              editable=(eq step 2)
              value=config.description
            }}
              {{input 
                type="text"
                value=config.description
                classNames="form-control"
                placeholder=(t "clusterNew.huaweicce.description.placeholder")}}
            {{/input-or-display}}
          </div>
        </div>
        {{#if (or editing (not (eq step 2)))}}
          <div class="row">
            <div class="col span-6">
              <label class="acc-label">{{t "clusterNew.huaweicce.kubeProxyMode.label"}}</label>
              <div class="radio">
                {{config.kubeProxyMode}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col span-6">
              <label class="acc-label">{{t "clusterNew.huaweicce.publicAccess.label"}}</label>
              <div>{{eipSelectionShowValue}}</div>
            </div>
            <div class="col span-6">
              {{#if (eq eipSelection "exist")}}
                <label class="acc-label">
                  {{t "clusterNew.huaweicce.eipIds.label"}}
                </label>
                <div>{{clusterEipShowValue}}</div>
              {{else if (eq eipSelection "new")}}
                <label class="acc-label">
                  {{t "clusterNew.huaweicce.eipType.label"}}
                </label>
                <div>{{eipTypeShowValue}}</div>
                <label class="acc-label">{{t "clusterNew.huaweicce.eipChargeMode.label"}}</label>
                <div>{{eipChargeModeShowValue}}</div>
                <label class="acc-label">{{t "clusterNew.huaweicce.eipBandwidthSize.label"}}</label>
                <div class="input-group">
                  <div>{{config.eipBandwidthSize}}{{t "clusterNew.huaweicce.generic.mbitS"}}</div>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="row">
            <div class="col span-12 mt-0">
              <label class="acc-label">{{t "clusterNew.huaweicce.authentiactionMode.label"}}</label>
              <div>{{authentiactionModeShowValue}}</div>
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="col span-6">
              <label class="acc-label">{{t "clusterNew.huaweicce.kubeProxyMode.label"}}</label>
              <div class="radio">
                <label>
                  {{radio-button selection=config.kubeProxyMode value="iptables"}}
                  iptables
                </label>
              </div>
              <div class="radio">
                <label>
                  {{radio-button selection=config.kubeProxyMode value="ipvs"}}
                  IPVS
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col span-6">
              <label class="acc-label">{{t "clusterNew.huaweicce.publicAccess.label"}}</label>
              <div class="radio">
                <label>
                  {{radio-button selection=eipSelection value="none"}}
                  {{t "clusterNew.huaweicce.eipSelection.none"}}
                </label>
              </div>
              <div class="radio">
                <label>
                  {{radio-button selection=eipSelection value="exist"}}
                  {{t "clusterNew.huaweicce.eipSelection.exist"}}
                </label>
              </div>
              <div class="radio">
                <label>
                  {{radio-button selection=eipSelection value="new"}}
                  {{t "clusterNew.huaweicce.eipSelection.new"}}
                </label>
              </div>
            </div>
            <div class="col span-6">
              {{#if (eq eipSelection "exist")}}
                <label class="acc-label">
                  {{t "clusterNew.huaweicce.eipIds.label"}}
                </label>
                {{new-select 
                  classNames="form-control"
                  content=eipChoices
                  value=config.clusterExternalIP
                }}
              {{else if (eq eipSelection "new")}}
                <label class="acc-label">
                  {{t "clusterNew.huaweicce.eipType.label"}}
                </label>
                {{new-select classNames="form-control"
                  value=config.eipType
                  content=eipTypeChoices
                  localizedLabel=true
                }}
                <label class="acc-label">{{t "clusterNew.huaweicce.eipChargeMode.label"}}</label>
                {{new-select classNames="form-control"
                  value=config.eipChargeMode
                  content=eipChargeModeChoices
                  localizedLabel=true
                }}
                <label class="acc-label">{{t "clusterNew.huaweicce.eipBandwidthSize.label"}}</label>
                <div class="input-group">
                  {{input-number min=1 value=config.eipBandwidthSize max=100}}
                  <span class="input-group-addon bg-default">{{t "clusterNew.huaweicce.generic.mbitS"}}</span>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="row">
            <div class="col span-12 mt-0">
              <label class="acc-label">{{t "clusterNew.huaweicce.authentiactionMode.label"}}</label>
              <div class="radio">
                <label>
                  {{radio-button
                    selection=config.authentiactionMode
                    value="rbac"
                  }}
                  {{t "clusterNew.huaweicce.authentiactionMode.rbac"}}
                </label>
              </div>
              <div class="radio">
                <label>
                  {{radio-button
                    selection=config.authentiactionMode
                    value="authenticating_proxy"
                  }}
                  {{t "clusterNew.huaweicce.authentiactionMode.authenticating_proxy"}}
                </label>
              </div>
              {{#if (eq config.authentiactionMode "authenticating_proxy")}}
                <div class="clearfix">
                  <label class="acc-label pt-5">{{t "clusterNew.huaweicce.authenticatingProxyCa.label"}}{{field-required}}</label>
                </div>
                {{input-text-file
                  classNames="box"
                  value=config.authenticatingProxyCa
                  multiple=true
                  canChangeName=false
                  accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
                  minHeight=60
                  placeholder="newCertificate.cert.placeholder"
                  shouldChangeName=false
                }}
                <div class="clearfix">
                  <label class="acc-label pt-5">{{t "clusterNew.huaweicce.authenticatingProxyCert.label"}}{{field-required}}</label>
                </div>
                {{input-text-file
                  classNames="box"
                  value=config.authenticatingProxyCert
                  multiple=true
                  canChangeName=false
                  accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
                  minHeight=60
                  placeholder="newCertificate.cert.placeholder"
                  shouldChangeName=false
                }}
                <div class="clearfix">
                  <label class="acc-label pt-5">{{t "clusterNew.huaweicce.authenticatingProxyPrivateKey.label"}}{{field-required}}</label>
                </div>
                {{input-text-file
                  classNames="box"
                  value=config.authenticatingProxyPrivateKey
                  multiple=true
                  canChangeName=false
                  accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
                  minHeight=60
                  placeholder="newCertificate.cert.placeholder"
                  shouldChangeName=false
                }}
              {{/if}}
            </div>
          </div>
        {{/if}}
        {{!-- <div class="row">
          <div class="col span-6 mb-0">
            <label class="acc-label">{{t "clusterNew.huaweicce.externalServerEnabled.label"}}</label>
            {{#if (or editing (not (eq step 2)))}}
              {{#if config.externalServerEnabled}}
                <div>{{t "generic.enabled"}}</div>
              {{else}}
                <div>{{t "generic.disabled"}}</div>
              {{/if}}
            {{else}}
              <div class="radio">
                <label>
                  {{radio-button
                    selection=config.externalServerEnabled
                    value=true
                  }}
                  {{t "clusterNew.huaweicce.externalServerEnabled.enabled"}}
                </label>
              </div>
              <div class="radio">
                <label>
                  {{radio-button selection=config.externalServerEnabled value=false}}
                  {{t "clusterNew.huaweicce.externalServerEnabled.disabled"}}
                </label>
              </div>
            {{/if}}
          </div>
          {{#if config.externalServerEnabled}}
            <div class="col span-6">
              <label class="acc-label">
              {{t "clusterNew.huaweicce.vipSubnetId.label"}}{{field-required}}
            </label>
            {{#if (or editing (not (eq step 2)))}}
              <div>
                {{editedVipSubnetName}}
              </div>
            {{else}}
              {{#if (gt vipSubnetChoices.length 0)}}
                {{new-select 
                  classNames="form-control"
                  content=vipSubnetChoices
                  value=config.vipSubnetId
                }}
              {{else}}
                <div>{{t "clusterNew.huaweicce.subnetId.none"}}</div>
              {{/if}}
            {{/if}}
            </div>
          {{/if}}
        </div> --}}
        <div class="row">
          <div class="col span-12 mb-0">
            <label class="acc-label">{{t "clusterNew.huaweicce.clusterLabels.label"}}</label>
            {{#if (or editing (not (eq step 2)))}}
              {{#if (gt config.taglength 0)}}
                {{huawei-user-labels
                  readOnly=true
                  initialLabels=config.tags
                }}
              {{else}}
                <div>{{t "clusterNew.huaweicce.clusterLabels.none"}}</div>
              {{/if}}
            {{else}}
              {{huawei-user-labels setLabels=(action "setLabels")}}
            {{/if}}
          </div>
        </div>
      {{/accordion-list-item}}
      {{#if (eq step 3)}}
        {{#accordion-list-item 
          title=(t "clusterNew.huaweicce.nodeGroups.title")
          detail=(t "clusterNew.huaweicce.nodeGroups.detail")
          expandOnInit=true
          showExpand=false
          expandAll=al.expandAll
          expand=(action expandFn)
        }}
          {{#each nodePoolList as |nodePool index|}}
            <div class="box mb-10">
              <div class="row">
                <div class="col span-6">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.nodePoolName.label"}}{{field-required}}
                  </label>
                  {{input type="text"
                    name="nodePoolName"
                    classNames="form-control"
                    placeholder=(t "clusterNew.huaweicce.nodePoolName.placeholder")
                    value=nodePool.nodePoolName
                    disabled=isImportProvider
                  }}
                </div>
                <div class="col span-3 mb-0">
                    <label class="acc-label">
                      {{t "clusterNew.huaweicce.runtime.label"}}
                    </label>
                    {{#if (and editing nodePool.nodePoolID)}}
                      <div>{{nodePool.runtime}}</div>
                    {{else}}
                      <div class="radio">
                        <label>
                          {{radio-button selection=nodePool.runtime value="containerd"}}
                          Containerd
                        </label>
                      </div>
                    {{/if}}
                  </div>
                <div class="pull-right">
                  {{#if (not isImportProvider)}}
                    <button
                      style="background:transparent"
                      class="btn bg-transparent text-small vertical-middle"
                      type="button"
                      disabled={{eq nodePoolList.length 1}}
                      {{action 'removeNodePool' nodePool}}
                    >
                      {{t "nodeGroupRow.remove.label"}}
                    </button>
                  {{/if}}
                </div>
              </div>
              <div class="row">
                <div class="col span-6 mb-0">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.availableZone.label"}}
                  </label>
                  {{#if isImportProvider}}
                    <div>
                      {{ nodePool.availableZone }}
                    </div>
                  {{else}}
                    {{#input-or-display
                      editable=(or (not nodePool.nodePoolID) isNew)
                      value=nodePool.displayAvailableZone
                    }}
                      {{new-select 
                        classNames="form-control"
                        content=availableZoneChoices
                        value=nodePool.availableZone
                        change=(action 'availableZoneChange' nodePool)
                      }}
                    {{/input-or-display}}
                  {{/if}}
                </div>
                <div class="col span-6 mb-0">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.billingMode.label"}}
                  </label>
                  {{#if isImportProvider}}
                    <div>
                      {{#if (eq nodePool.billingMode 0)}}
                        {{t "clusterNew.huaweicce.billingMode.payPerUse"}}
                      {{else}}
                        {{t "clusterNew.huaweicce.billingMode.yearly"}}
                      {{/if}}
                    </div>
                  {{else}}
                    {{#input-or-display
                      editable=(or (not nodePool.nodePoolID) isNew)
                      value=nodePool.displayBillingMode
                    }}
                      {{searchable-select 
                        class="form-control"
                        content=billingModeChoices
                        value=nodePool.billingMode
                        localizedLabel=true
                        change=(action 'billingModeChange' nodePool)
                      }}
                    {{/input-or-display}}
                  {{/if}}
                </div>
              </div>
              {{#if (eq nodePool.billingMode 1)}}
                <div class="row">
                  <div class="col span-6 mb-0">
                    <label class="acc-label">
                      {{t "clusterNew.huaweicce.validityPeriod.label"}}
                    </label>
                    {{#if (and editing nodePool.nodePoolID)}}
                      <div>{{validityPeriodName}}</div>
                    {{else}}
                      {{searchable-select 
                        classNames="form-control"
                        content=validityPeriodChoices
                        value=validityPeriod
                      }}
                    {{/if}}
                  </div>
                  <div class="col span-6 mb-0">
                    <label class="acc-label">
                      {{t "clusterNew.huaweicce.bmsIsAutoRenew.label"}}
                    </label>
                    {{#if (and editing nodePool.nodePoolID)}}
                      <div>{{bmsIsAutoRenewName}}</div>
                    {{else}}
                      <div class="radio">
                        <label>
                          {{radio-button selection=nodePool.bmsIsAutoRenew value="false"}}
                          {{t "generic.disabled"}}
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          {{radio-button selection=nodePool.bmsIsAutoRenew value="true"}}
                          {{t "generic.enabled"}}
                        </label>
                      </div>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
              <div class="row">
                <div class="col span-6 mb-0">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.rootVolumeType.label"}}
                  </label>
                  {{#if isImportProvider}}
                    <div>
                      {{ nodePool.rootVolumeType }}
                    </div>
                  {{else}}
                    {{#input-or-display
                      editable=(or (not nodePool.nodePoolID) isNew)
                      value=nodePool.displayRootVolumeType
                    }}
                      {{new-select classNames="form-control"
                        value=nodePool.rootVolumeType
                        content=nodePool.volumeTypeChoices
                        localizedLabel=true
                      }}
                    {{/input-or-display}}
                  {{/if}}
                </div>
                <div class="col span-6 mb-0">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.rootVolumeSize.label"}}{{field-required}}
                    <i class="ml-5">({{t "clusterNew.huaweicce.volumetype.rootDescription"}})</i>
                  </label>
                  <div class="input-group">
                    {{#if (and editing nodePool.nodePoolID)}}
                      <div>{{nodePool.rootVolumeSize}}{{t "generic.gigabyte"}}</div>
                    {{else}}
                      {{input-integer
                        value=nodePool.rootVolumeSize
                        min=40
                        max=1024
                        step="1"
                        placeholder=(t "clusterNew.huaweicce.rootVolumeSize.placeholder")
                      }}
                      <span class="input-group-addon bg-default">{{t "generic.gigabyte"}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col span-6 mb-0">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.dataVolumeType.label"}}
                  </label>
                  {{#if isImportProvider}}
                    <div>
                      {{ nodePool.dataVolumeType }}
                    </div>
                  {{else}}
                    {{#input-or-display
                      editable=(or (not nodePool.nodePoolID) isNew)
                      value=nodePool.displayDataVolumeType
                    }}
                      {{new-select classNames="form-control"
                        value=nodePool.dataVolumeType
                        content=nodePool.volumeTypeChoices
                        localizedLabel=true
                      }}
                    {{/input-or-display}}
                  {{/if}}
                </div>
                <div class="col span-6 mb-0">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.dataVolumeSize.label"}}{{field-required}}
                    <i class="ml-5">({{t "clusterNew.huaweicce.volumetype.dataDescription"}})</i>
                  </label>
                  <div class="input-group">
                    {{#if (and editing nodePool.nodePoolID)}}
                      <div>{{nodePool.dataVolumeSize}}{{t "generic.gigabyte"}}</div>
                    {{else}}
                      {{input-integer
                        value=nodePool.dataVolumeSize
                        min=100
                        max=32768
                        step="1"
                        placeholder=(t "clusterNew.huaweicce.dataVolumeSize.placeholder")
                      }}
                      <span class="input-group-addon bg-default">{{t "generic.gigabyte"}}</span>
                    {{/if}}        
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col span-6 mb-0">
                  <label class="acc-label">{{t "clusterNew.huaweicce.flavor.label"}}</label>
                  {{#if (and editing nodePool.nodePoolID)}}
                    <div>{{nodePool.flavor}}</div>
                  {{else}}
                    {{searchable-select 
                      classNames="form-control"
                      value=nodePool.flavor
                      content=nodePool.flavorChoices
                    }}
                  {{/if}}
                </div>
                <div class="col span-6 mb-0">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.initialNodeCount.label"}}
                  </label>
                  {{input-number disabled=isImportProvider min=0 value=nodePool.initialNodeCount max=initialNodeCountMax}}
                </div>
              </div>
              <div class="row">
                <div class="col span-6">
                  <label class="acc-label">{{t "clusterNew.huaweicce.operatingSystem.label"}}</label>
                  {{#if (and editing nodePool.nodePoolID)}}
                    <div>{{nodePool.operatingSystem}}</div>
                  {{else}}
                    {{new-select 
                      classNames="form-control"
                      value=nodePool.operatingSystem
                      content=operatingSystemChoices
                    }}
                  {{/if}}
                </div>
                <div class="col span-6">
                  <label class="acc-label">{{t "clusterNew.huaweicce.sshKey.label"}}{{field-required}}</label>
                  {{#if isImportProvider}}
                    <div>
                      {{ nodePool.sshKey }}
                    </div>
                  {{else}}
                    {{#if (and editing nodePool.nodePoolID)}}
                      <div>{{nodePool.displaySshKey}}</div>
                    {{else}}
                      {{new-select 
                        classNames="form-control"
                        value=nodePool.sshKey
                        content=sshKeyChoices
                      }}
                    {{/if}}
                  {{/if}}
                </div>
              </div>
              {{!-- <div class="row">
                <div class="col span-6">
                  <label class="acc-label">
                    {{t "clusterNew.huaweicce.securityGroup.label"}}
                  </label>
                  {{#input-or-display
                    editable=(or (not nodePool.nodePoolID) isNew)
                    value=nodePool.displaySecurityGroup
                  }}
                    {{searchable-select
                      class="form-control"
                      content=securityGroupChoices
                      value=nodePool.securityGroup
                    }}
                  {{/input-or-display}}
                </div>
              </div> --}}
            </div>
          {{else}}
            <div class="p-20">
              {{t "clusterNew.huaweicce.nodeGroups.noNodes"}}
            </div>
          {{/each}}
          {{#unless isImportProvider}}
            <div class="row mt-15">
              <button
                class="btn bg-link icon-btn pull-left"
                type="button"
                {{action "addNodePool"}}
              >
                <i class="icon icon-plus text-small"></i>
                <span>
                  {{t "clusterNew.huaweicce.nodeGroups.addLabel"}}
                </span>
              </button>
            </div>
          {{/unless}}
        {{/accordion-list-item}}
      {{/if}}
    {{/if}}
  {{/accordion-list}}
  {{top-errors errors=errors}}
  {{top-errors errors=otherErrors}}
  {{top-errors errors=clusterErrors}}
  {{!-- {{#if (eq step 1)}}
    {{save-cancel
      createLabel="clusterNew.huaweicce.huaweiLogin"
      savingLabel="clusterNew.huaweicce.huaweiLogging"
      save=(action "huaweiLogin")
      cancel=close
    }}
  {{/if}} --}}
  {{#if (eq step 2)}}
    {{save-cancel
      createLabel="clusterNew.huaweicce.configureNodepool"
      savingLabel="clusterNew.huaweicce.configuringNodepool"
      save=(action "configureNode")
      cancel=close
    }}
  {{/if}}
  {{#if (eq step 3)}}
    {{save-cancel
      editing=(eq mode "edit")
      save=(action "save")
      cancel=close
    }}
  {{/if}}
</section>